@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');
body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

button, input[type=submit]  {cursor: pointer;}